.cover {
  margin: 0 auto;
  margin-top: 92px;
  max-width: calc(100% - 96px);
  min-height: 740px;
  position: relative;
  display: flex;
}

@media screen and (max-width: 1024px) {
  .cover {
    max-width: 100%;
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    margin-top: 90px;
    max-width: 100%;
    min-height: 480px;
  }
}

@media screen and (max-width: 425px) {
  .cover {
    margin-top: 66px;
    max-width: 100%;
    min-height: 200px;
  }
}
