.footer__links-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

@media screen and (max-width: 425px) {
  .footer__links-list {
    flex-direction: column;
    align-content: flex-start;
    list-style: none;
  }
}
