@import url("../vendor/normalize.css");
@import url("../vendor/fonts/fonts.css");

.page {
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  background-color: #2a2c2f;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.header {
  margin: 0 auto;
  padding-top: 28px;
  max-width: calc(100% - 96px);
  display: flex;
  justify-content: space-between;
}

@media (min-width: 426px) and (max-width: 768px) {
  .header {
    margin: 0 auto;
    max-width: calc(100% - 48px);
  }
}

@media (min-width: 320px) and (max-width: 425px) {
  .header {
    max-width: calc(100% - 32px);
    padding-top: 16px;
  }
}

.header__logo {
  display: flex;
  width: 176px;
  height: 52px;
}

@media (min-width: 320px) and (max-width: 425px) {
  .header__logo {
    width: 142px;
    height: 42px;
  }
}

.header__lang-links {
  margin: 0;
  padding: 0;
  display: flex;
  align-self: flex-end;
  list-style-type: none;
}

.header__lang-button {
  margin-right: 18px;
  width: 30px;
  height: 28px;
}
.header__lang-button:last-child {
  margin-right: 0;
  width: 29px;
  height: 28px;
}

@media (min-width: 320px) and (max-width: 425px) {
  .header__lang-button {
    width: 22px;
    height: 20px;
  }
  .header__lang-button:last-child {
    margin-right: 0;
    width: 22px;
    height: 28px;
  }
}

.header__lang-link {
  margin-right: 18px;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

.header__lang-link_active {
  text-decoration-line: underline;
  text-underline-position: under;
}

@media (min-width: 320px) and (max-width: 425px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
    max-width: 288px;
  }
}

.lead__title {
  margin: 0 auto;
  margin-top: 54px;
  margin-bottom: 32px;
  max-width: calc(100% - 560px);
  font-size: 96px;
  line-height: 100px;
  font-weight: 900;
  text-align: center;
  color: #ffffff;
  font-style: normal;
}
@media (min-width: 1025px) and (max-width: 1280px) {
  .lead__title {
    max-width: calc(100% - 560px);
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .lead__title {
    margin-top: 48px;
    max-width: calc(100% - 304px);
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .lead__title {
    margin-top: 48px;
    max-width: calc(100% - 48px);
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .lead__title {
    margin-top: 48px;
    max-width: calc(100% - 32px);
    font-size: 40px;
    line-height: 44px;
  }
}

.lead__subtitle {
  margin: 0 auto;
  max-width: calc (100% - 640px);
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
}
@media (min-width: 1025px) and (max-width: 1280px) {
  .lead__subtitle {
    max-width: calc(100% - 640px);
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .lead__subtitle {
    max-width: calc (100% - 384px);
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .lead__subtitle {
    max-width: calc (100% - 128px);
  }
}

@media (min-width: 320px) and (max-width: 425px) {
  .lead__subtitle {
    max-width: 288px;
    font-size: 16px;
    line-height: 20px;
  }
}

.lead__image {
  margin: 0 auto;
  margin-top: 64px;
  margin-bottom: 8px;
  max-width: calc (100% - 296px);
  max-height: 615px;

  display: block;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .lead__image {
    margin-top: 56px;
    max-width: calc(100% - 96px);
    max-height: 580px;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .lead__image {
    margin: 56px 0 8px 0;
    max-width: 100%;
    max-height: 480px;
  }
}

@media (min-width: 320px) and (max-width: 425px) {
  .lead__image {
    margin-top: 40px;
    max-width: 100%;
  }
}
.lead__caption {
  margin-left: 148px;
  max-width: 100%;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #ffffff;
  display: block;
}
@media (min-width: 1024px) and (max-width: 1279px) {
  .lead__caption {
    margin-left: 48px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .lead__caption {
    margin-left: 24px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .lead__caption {
    margin-left: 16px;
  }
}

.intro {
  max-width: 690px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 92px auto 92px 148px;
  padding: 0;
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .intro {
    margin-left: 48px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .intro {
    margin-left: 24px;
    margin-bottom: 88px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .intro {
    margin-left: 16px;
    margin-bottom: 64px;
  }
}

.intro__title {
  margin: 0;
  margin-bottom: 40px;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  color: #ffffff;
}

@media (min-width: 320px) and (max-width: 425px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }
}

.intro__text {
  margin-bottom: 33px;
  max-width: 720px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26.08px;
  color: #ffffff;
}

@media (min-width: 320px) and (max-width: 425px) {
  .intro__text {
    margin-bottom: 34px;
  }
}
.intro__list {
  margin: 0;
  padding: 0;
  max-width: 690px;
  font-style: normal;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
  list-style: none;
  padding: 0;
}
.intro__bold {
  font-weight: 700;
}

.photo-grid {
  margin: 0 auto;
  max-width: calc(100% - 96px);
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 16px;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(3, auto);
    grid-gap: 14px;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .photo-grid {
    max-width: calc(100% - 48px);
    grid-template-columns: repeat(2, auto);
    grid-gap: 16px;
  }
}

@media (min-width: 320px) and (max-width: 425px) {
  .photo-grid {
    max-width: calc(100% - 32px);
    grid-template-columns: auto;
    grid-gap: 12px;
  }
}
.photo-grid__item {
  max-width: 100%;
  object-fit: cover;
}

.places {
  margin: 0 auto;
  margin-top: 92px;
  max-width: calc(100% - 296px);
}
@media (min-width: 769px) and (max-width: 1024px) {
  .places {
    max-width: calc(100% - 96px);
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  .places {
    max-width: calc(100% - 48px);
    margin-top: 88px;
  }
}
@media (min-width: 320px) and (max-width: 425px) {
  .places {
    max-width: calc(100% - 32px);
    margin-top: 64px;
  }
}
.place {
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-gap: 40px 48px;
}

.place:last-child {
  margin-bottom: 0;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .place {
    grid-gap: 32px 48px;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .place {
    margin-bottom: 72px;
    grid-gap: 28px 48px;
  }
}

@media (min-width: 320px) and (max-width: 425px) {
  .place {
    margin-bottom: 50px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    grid-gap: 32px;
  }
}
.place__title {
  margin: 0;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  color: #ffffff;
  align-self: end;
}
@media (min-width: 426px) and (max-width: 768px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
  }
}
@media (min-width: 320px) and (max-width: 425px) {
  .place__title {
    font-size: 32px;
    line-height: 35px;
  }
}
.place__website {
  align-self: end;
}

.place__url-heading {
  margin: 0;
  margin-bottom: 12px;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .place__url-heading {
    line-height: 20.4px;
  }
}
.place__link {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: #fff;
}

.place__image {
  max-width: 100%;
}
.place__paragraph {
  margin: 0;
  margin-bottom: 27px;
  font-size: 18px;
  line-height: 1.67;
  font-weight: 400;
  color: #ffffff;
}

.place__paragraph:last-child {
  margin-bottom: 0;
}
@media (min-width: 426px) and (max-width: 768px) {
  .place__paragraph {
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 26.08px;
  }
}

@media (min-width: 320px) and (max-width: 425px) {
  .place__paragraph {
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 26.08px;
  }
}
.cover {
  margin: 0 auto;
  margin-top: 92px;
  max-width: calc(100% - 96px);
  height: 615px;
  position: relative;
  display: flex;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .cover {
    max-width: 100%;
    height: 640px;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .cover {
    margin-top: 90px;
    max-width: 100%;
    height: 480px;
  }
}

@media (min-width: 320px) and (max-width: 425px) {
  .cover {
    margin-top: 66px;
    max-width: 100%;
  }
}
.cover__background {
  width: 100%;
  background-image: url("../images/cover-trains.jpg");
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-decoration: none;
  z-index: 1;
}
.cover__background:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2a2c2f;
  opacity: 0.3;
  transition: 0.2s ease;
}

.cover__background:hover:after {
  opacity: 0.8;
}

.cover__title {
  max-width: calc (100% - 720px);
  margin: 0 auto;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  text-align: center;
  z-index: 2;
}

@media (min-width: 769px) and (max-width: 1279px) {
  .cover__title {
    max-width: calc(100% - 464px);
  }
}

@media (min-width: 700px) and (max-width: 768px) {
  .cover__title {
    max-width: calc (100% - 208px);
  }
}

@media (min-width: 320px) and (max-width: 700px) {
  .cover__title {
    max-width: calc(100% - 32px);
    font-size: 32px;
    line-height: 35px;
  }
}

.cover__subtitle {
  max-width: 360px;
  margin: 0;
  margin-top: 32px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  text-align: center;
  z-index: 2;
}

@media (min-width: 320px) and (max-width: 425px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
  }
}

.footer {
  margin: 0 auto;
  max-width: calc(100% - 96px);
  margin-top: 82px;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .footer {
    max-width: calc(100% - 96px);
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .footer {
    max-width: calc(100% - 48px);
    margin-top: 88px;
  }
}

@media (min-width: 320px) and (max-width: 425px) {
  .footer {
    margin-top: 64px;
    margin-left: 16px;
    flex-direction: column;
  }
}

.footer__links-list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

@media (min-width: 320px) and (max-width: 425px) {
  .footer__links-list {
    flex-direction: column;
    align-content: flex-start;
    list-style: none;
  }
}

.footer__item {
  margin-right: 18px;
  list-style: none;
}
.footer__item:last-child {
  margin-right: 0;
}
@media (min-width: 320px) and (max-width: 425px) {
  .footer__item {
    margin-right: 0;
    margin-bottom: 32px;
  }
  .footer__item:last-child {
    margin-bottom: 0;
  }
}

.footer__link {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  text-decoration: none;
}

@media (min-width: 320px) and (max-width: 425px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
  }
}

.footer__copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  margin-bottom: 0;
  align-content: center;
}

@media (min-width: 320px) and (max-width: 425px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 14px;
  }
}
